.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  width: 100%;
}

.featureImg {
  height: 200px;
  width: 200px;
}

.title {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
  text-align: center;
  margin-bottom: 4rem;
}
