.bannerContainer {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.bannerTitle {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}

.bannerRewardTotal {
  color: #fff;
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
}

.bannerPortfolio {
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #00c6cf;
  margin-top: 45px;
  border: 1px solid #00c6cf;
  cursor: pointer;
}

.bannerSocialMedia {
  margin-top: 30px;
  width: 300px;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.featureImg {
  height: 200px;
  width: 200px;
}
